<div *ngIf="customer">
  <h3>Dados do Cliente</h3>
  <form #f="ngForm">
  <div class="form-group"
    [class.has-error]="nome.invalid && nome.touched">
    <label for="name">Nome</label>
    <input [(ngModel)]="customer.name" type="text" class="form-control" id="name" 
      placeholder="Informe o nome do cliente..." required name="nome" #nome="ngModel">
    <div *ngIf="nome.invalid && nome.touched"
      class="alert alert-danger">
      O nome do cliente é obrigatório
    </div>
  </div>
  <div class="form-group">
    <label for="identification">CPF</label>
    <input [(ngModel)]="customer.identification" type="text" class="form-control" 
      id="identification" placeholder="Informe o cpf do cliente..." name="identification">
  </div>
</form>

  <button [disabled]="f.invalid" class="btn btn-primary" (click)="save()">Salvar Dados do Cliente</button>
  <button class="btn btn-default margin-left-10" (click)="voltar()">Voltar Para Lista de Clientes</button>

</div>
<hr>
<h3>Análises de Crédito do Cliente</h3>
<app-credit-analysis-modal [customerId]="customer?.id"></app-credit-analysis-modal>
<div class="vgap-15"></div>
<table class="table table-striped width-per-70" *ngIf="creditAnalysisService.creditAnalysis.length">
  <tr>
    <th>Risco</th>
    <th>Taxa</th>
    <th>Limite</th>
    <th>Juros</th>
    <th>Limite c/ Juros</th>
    <th>Status</th>
    <th class="text-right"></th>
  </tr>
  <tr *ngFor="let credAnalysis of creditAnalysisService.creditAnalysis">
    <td>{{ credAnalysis.interestRate.code }}</td>
    <td>{{ credAnalysis.interestRate.tax * 100 }} %</td>
    <td>{{ credAnalysis.creditLimit | currency : 'R$' }}</td>
    <td>{{ credAnalysis.interestAmmount | currency : 'R$' }}</td>
    <td>{{ credAnalysis.creditLimmitWithTax | currency : 'R$' }}</td>
    <td>{{ credAnalysis.active ? 'Ativo' : 'Inativo' }}</td>
    <td class="text-right">
      <button class="btn btn-danger" title="Excluir esta análise"
        type="button" data-toggle="modal" data-target="#exampleModalCenter" (click)="prepareToDelete(credAnalysis)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
      <button *ngIf="credAnalysis.active" class="btn btn-primary margin-left-10" 
        title="Inativar esta análise" (click)="inactivateCreditAnalysis(credAnalysis)">
        <span class="glyphicon glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
      </button>
      <button *ngIf="!credAnalysis.active" class="btn btn-primary margin-left-10" 
        title="Reativar esta análise" (click)="activateCreditAnalysis(credAnalysis)">
        <span class="glyphicon glyphicon glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Atenção</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir esta análise de crédito?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button (click)="deleteCreditAnalysis()" type="button" class="btn btn-primary"
          data-dismiss="modal">Sim</button>
      </div>
    </div>
  </div>
</div>
