<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"
  [disabled]="newCustomer" title="Insira novas análises após salvar os dados do cliente"
  (click)="newCreditAnalysis()">
  Inserir Uma Nova Análise Para Este Cliente</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cadastro de Análises</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
        <div class="row">
          <div class="form-group col-sm-6"
            [class.has-error]="creditLimit.invalid && creditLimit.touched">
            <label for="creditLimit">Limite de Crédito</label>
            <input [(ngModel)]="creditAnalysis.creditLimit" class="form-control" id="creditLimit" 
              placeholder="Limite de Crédito" currencyMask required #creditLimit="ngModel" name="creditLimit">
            <div *ngIf="creditLimit.invalid && creditLimit.touched"
              class="alert alert-danger">
                Informe o limite de crédito
            </div>
          </div>
          <div class="form-group col-sm-6"
            [class.has-error]="interestRate.invalid && interestRate.touched">
            <label for="interestRate">Faixa de Risco</label>
            <select [(ngModel)]="creditAnalysis.interestRate" id="interestRate" class="form-control" 
              required #interestRate="ngModel" name="interestRate">
              <option [ngValue]="null">Selecione...</option>
              <option [ngValue]="interestRate"  *ngFor="let interestRate of interestRates">{{interestRate.description}} (Juros de {{interestRate.tax * 100}} %)</option>
            </select>
            <div *ngIf="interestRate.invalid && interestRate.touched"
              class="alert alert-danger">
                Informe a faixa de risco
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="f.invalid" type="button" (click)="saveAnalysis()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
      </div>
    
    </div>

  </div>
</div>