<h2>Sistema de Cadastros de Análise de Crédito</h2>
<hr>
<button class="btn btn-success" (click)="newCustomer()">Cadastrar Nova Análise de Crédito</button>
<h3>Clientes Cadastrados</h3>
<table class="table table-striped">
  <tr>
    <th>Nome do Cliente</th>
    <th>CPF</th>
    <th>Status</th>
    <th></th>
  </tr>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.name }}</td>
    <td>{{ customer.identification }}</td>
    <td>{{ customer.active ? 'Ativo' : 'Inativo' }}</td>
    <td>
      <button class="btn btn-success" (click)="onSelect(customer)" title="Visualizar Detalhes">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<hr>
